# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/

# Logs
logs/
**/*.log

# Dependency directories
**/node_modules/
**/jspm_packages/

# Environment variables
.env
**/.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.swp

# TypeScript cache
*.tsbuildinfo

# Docker files
**/docker-compose.override.yml
**/Dockerfile

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
