services:
  item_service:
    build:
      context: ./Backend/item_service
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - nestjs_network
    volumes:
      - ./Backend/item_service/logs:/var/log/Logs_ItemService

  customer_service:
    build:
      context: ./Backend/customer_service
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    networks:
      - nestjs_network
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./Backend/customer_service/logs:/var/log/Logs_CustomerService
      - ./Backend/customer_service/src/validated/:/app/validated/
      - ./Backend/customer_service/src/error/:/app/error/
      - ./Backend/customer_service/src/address:/app/address


  authentification_service:
    build:
      context: ./Backend/authentification_service
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    networks:
      - nestjs_network
    volumes:
      - ./Backend/authentification_service/logs:/var/log/Logs_AuthService

  stock_service:
    build:
      context: ./Backend/stock_service
      dockerfile: Dockerfile
    ports:
      - "3004:3004"
    networks:
      - nestjs_network
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./Backend/stock_service/logs:/var/log/Logs_StockService

  chantier_service:
    build:
      context: ./Backend/chantier_service
      dockerfile: Dockerfile
    ports:
      - "3006:3006"
    networks:
      - nestjs_network
    volumes:
      - ./Backend/chantier_service/logs:/var/log/Logs_ChantierService


  api_gateway:
    build:
      context: ./Backend/api_gateway
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - nestjs_network
    depends_on:
      - customer_service
      - item_service
      - authentification_service
      - stock_service
    volumes:
      - ./Backend/api_gateway/logs:/var/log/Logs_ApiGateway

  # mobile_service:
  #   build:
  #     context: ./Frontend/Mobile
  #     dockerfile: Dockerfile
  #   ports:
  #     - "19000:19000"
  #     - "19001:19001"
  #     - "8081:8081"
  #   volumes:
  #     - ./Frontend/Mobile:/app
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true
  #   networks:
  #     - nestjs_network
  #   stdin_open: true
  #   tty: true



  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - nestjs_network

networks:
  nestjs_network:
    driver: bridge
