services:
  customer_service:
    build:
      context: ./customer_service
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - nestjs_network

  item_service:
    build:
      context: ./item_service
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    networks:
      - nestjs_network

  authentification_service:
    build:
      context: ./authentification_service
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    networks:
      - nestjs_network

  api_gateway:
    build:
      context: ./api_gateway
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - nestjs_network
    depends_on:
      - customer_service
      - item_service
      - authentification_service

networks:
  nestjs_network:
    driver: bridge
