# Ignorer les dossiers node_modules (ils seront installés par Docker)
node_modules

# Ignorer les fichiers de log
*.log

# Ignorer les dossiers de construction TypeScript
dist

# Ignorer les configurations locales de l'IDE
.vscode
.idea
*.swp

# Ignorer les fichiers d'environnement
.env
